body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(120deg, #1e3c72 0%, #2a5298 100%);
    color: #f5f4f4;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid #2563eb;
    border-radius: 10px;
    width: 100%;
    height: auto;
    padding: 2rem;
    top: 50%;
    box-shadow: 0 2px 6px rgba(199, 190, 190, 0.959);
}
input {
    padding: 10px;
    border: 1px solid #2563eb;
    border-radius: 5px;
    width: 100%;
    margin-bottom: 1rem;
}
textarea {
    padding: 10px;
    border: 1px solid #2563eb;
    border-radius: 5px;
    width: 100%;
    margin-bottom: 1rem;
    resize: vertical;
}
button {
    background-color: #2563eb;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
footer {
    font-family: Franklin;
}
button:hover {
    background-color: #1e40af;
    font-family: Franklin;
    font-weight: bold;
}
a {
    text-decoration: none;
    color: white;
    background-color: #1e40af;
    font-weight: bold;
    border: 1px solid #1e40af;
    padding: 10px;
    border-radius: 5px;
}
@media (min-width: 600px) {
    .form {
        width: 400px;
    }
}